<md-dialog aria-label="Administrar categoria" ng-cloak style="min-width: 50%; min-height: 50%;">
 	<form>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Administrar categoria</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancelDialog()">
          <md-icon class="material-icons" aria-label="Cerrar" >close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    
	        <md-content class="md-padding">

	  			<span>Ingrese el nombre de la nueva categoria a crear</span>
	      		<div layout="row" layout-align="center center">
	      		<md-input-container flex="70" md-no-float class="md-block" style="margin-bottom: 0px;">
	      			<input ng-model="vm.newCategory" type="text" placeholder="Categoria">
	    		</md-input-container>
	    		  <md-button ng-click="vm.saveNewCategory()" style="margin-right:20px;">
      				  Crear
    			  </md-button>
    			  </div>
    			  
		  			<span>Editar categorias existentes</span>
	      			<md-input-container md-no-float class="md-block" ng-repeat="category in vm.categories">
	      				<input flex="70" style="margin-top: 10px;" ng-model="category.description" type="text" placeholder="Categoria">
	      				<md-button ng-click="vm.saveUpdateCategory($index, category.description)" style="margin-right:20px;"> Guardar </md-button>
	    			</md-input-container>
	    		
		        </md-content>
	 
	</md-dialog-content>


    </form>
</md-dialog>
