<md-dialog aria-label="Administrar categoria" ng-cloak class="dialog-category">
 	<form>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Administrar categoria</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancelDialog()">
          <md-icon class="material-icons" aria-label="Cerrar" >close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    
	        <md-content class="md-padding" layout="column" layout-align="space-around center">

				<fieldset class="dc-fieldset">
  					<legend>Nueva categoria</legend>
	      			<div layout="row" layout-align="center center">
	      				<md-input-container flex="70" md-no-float class="md-block" class="dc-input-container">
	      					<input ng-model="vm.newCategory" type="text" placeholder="Nombre de categoria">
	    				</md-input-container>
	    				<md-button ng-click="vm.saveNewCategory()" class="dc-button">Crear</md-button>
    			  </div>
 				</fieldset>
	  			<br/><br/>
	  			<fieldset class="dc-fieldset" layout="column" layout-align="center center">
	  				<legend>Editar categoria</legend>
		  			<span layout="column" layout-align="center center" style="color:gray;">Edite la categoria y guarde</span>
		  			<div layout="column" layout-align="center center">
	      				<md-input-container md-no-float class="md-block" ng-repeat="category in vm.categories" style="width: 90%;">
	      					<input flex="80" style="margin-top: 10px;" ng-model="category.description" type="text" placeholder="Categoria">
	      					<md-button ng-click="vm.saveUpdateCategory(category.id, category.description)" class="dc-button"> Guardar </md-button>
	    				</md-input-container>
    				</div>
				</fieldset>
	    		
	        </md-content>
	 	</md-dialog-content>


    </form>
</md-dialog>
