<div>zona de busqueda</div>

<!-- Contenido de pagina -->
<div layout="row">


	<!-- Panel izquierdo -->	
	<div flex="20">
		<md-list>
			<md-subheader class="md-no-sticky">Categorias</md-subheader>
			<md-list-item class="secondary-button-padding">
    			<p>Categoria uno</p>
    			<!-- <md-button class="md-secondary" ng-click="doSecondaryAction($event)"></md-button>  -->
  			</md-list-item>
  			<md-list-item class="secondary-button-padding">
    			<p>Categoria dos</p>
    			<!-- <md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>  -->
  			</md-list-item>
  			<md-list-item class="secondary-button-padding">
    			<p>Categoria tres</p>
    			<!-- <md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>  -->
  			</md-list-item>
  			<md-list-item class="secondary-button-padding">
    			<p>Categoria cuatro</p>
    			<!-- <md-button class="md-secondary" ng-click="doSecondaryAction($event)">More Info</md-button>  -->
  			</md-list-item>
  			
		</md-list>
		
	</div>

	<!-- Panel central - Productos -->
	<div>
		Panel Derecho
		<!--  <div ui-view style="height: 100%; width: 100%;"></div>  -->
	</div>

</div>
