
 <div layout="row" layout-align="center center" style="padding-top: 20px;">
 	<md-input-container style="width: 25%;"  md-no-float class="md-icon-float md-icon-right mara-search-input">
    	<input type="text" placeholder="Buscar productos">
        <md-icon class="material-icons" aria-label="Buscar">search</md-icon>
    </md-input-container>
 </div>

<!-- Contenido de pagina -->
<div layout="row">


	<!-- Panel izquierdo -->
	<div flex="15">

		<md-list>
	  		<md-list-item class="md-2-line" ng-repeat="category in vm.categories">
			    <div class="md-list-item-text">
			      <a ui-sref="main.product({category:category.id})"> <!-- Paso el id de la categoria -->
			      	<h3>{{category.description}}</h3>
			      </a>
			    </div>
	  		</md-list-item>
		</md-list>

	</div>

	<!-- Panel central - Productos -->
	<div>
		<div ui-view style="height: 100%; width: 100%;"></div>
	</div>

</div>
