<md-content class="md-padding background-gray " layout="row" layout-align='start start' layout-wrap>
  <md-card ng-repeat="product in vm.products" flex="auto" >
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{product.description}}</span>
        <span class="md-subhead">
          <md-icon md-font-set="material-icons">bookmark</md-icon>
          {{product.category.description}}
           <md-tooltip md-direction="left" md-delay="500">
              Categoría
            </md-tooltip>
        </span>
        <span class="md-subhead">
          <md-icon md-font-set="material-icons">code</md-icon>
          {{product.code}}
           <md-tooltip md-direction="left" md-delay="500">
              Código
            </md-tooltip>
        </span>
        <span class="md-subhead">
          <md-icon md-font-set="material-icons">attach_money</md-icon>
          {{product.price | currency:""}}
           <md-tooltip md-direction="left" md-delay="500">
              Precio
            </md-tooltip>
        </span>
        <md-chips ng-repeat="tag in product.tags">
          <md-chip>
            {{tag}}
          </md-chip>
        </md-chips>

      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="vm.editProductDialog($event, product)" class="md-icon-button launch" >
        <md-icon md-font-set="material-icons">mode_edit</md-icon>
      </md-button>
      <md-button ng-click="vm.confirmDelete($event, product)" class="md-icon-button launch" >
        <md-icon md-font-set="material-icons">delete</md-icon>
      </md-button>
    </md-card-actions>
  </md-card>

  <md-button class="md-fab floating-button" ng-click="vm.createProductDialog($event)">
    <md-tooltip md-direction="left">
      Crear producto
    </md-tooltip>
    <md-icon md-font-set="material-icons">add</md-icon>
  </md-button>
</md-content>
