.md-input-container-main {
	width: 25%
}

.md-list-categories {
	margin: 0px 6px;
	background:white;
	padding-top: 0px
}

 .md-list-item-category {
 	border-top-width: 1px;
 	border-top-style: solid;
 	border-color: rgba(0,0,0,0.12)
 }

 .md-list-item-category:hover {
	background-color: rgba(0,0,0,0.12)
}

.category-selected {
	background-color: red;
	
	/* background-color:#CFD8DC;
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.12);
  */
}

 .a-category {
 	text-decoration: none
 }

 .text-category {
 	font-weight: normal;
 	color: gray
 }

 .button-container{
	 background:#F3F3F3;
	 margin: -33px 0px 8px;
 }

 .products-container{
	 height: 100%;
	 width: 100%;
	 overflow-x: none;
	 overflow-y: auto;
 }
