md-card{
  max-width: 411px;
  min-width: 230px;
}

md-card .md-icon-button {
  opacity:0;
  -webkit-transition: opacity 0.28s ease;
  -moz-transition: opacity 0.28s ease;
  -o-transition: opacity 0.28s ease;
  transition: opacity 0.28s ease;
}

md-card:hover .md-icon-button {
  opacity: 0.81;
}

.floating-button{
  position: fixed!important;
  bottom: 20px;
  right: 20px;
}

.chips{
  margin-top: 18px;
}

.chip{
  padding: 4px 6px;
  border-radius: 4px;
  margin-right: 5px;
  color: white;
  font-style: italic;
  font-size: 9pt;
  background: #848484;
}
